<!-- HEADER -->
<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav pull-right">
		<li><a ui-sref="user">User section</a></li>
		<li><a ui-sref="logout">Logout</a></li>
	</ul>
</nav>
<div class="container-fluidt">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<span>Add user</span>
				<form class="form-inline" id="addUserForm" name="addUserForm" ng-submit="addUser()">
					<div class="form-group">
						<input class="form-control" name="name" ng-model="user.name" placeholder="Name" required>
						<input class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
						<input class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
						<button type="submit" ng-disabled="addUserForm.name.$invalid || addUserForm.email.$invalid || addUserForm.password.$invalid" class="btn btn-default">Add</button>
					</div>
					<div class="form-group">
						<span ng-show="addUserForm.name.$touched && addUserForm.name.$invalid">The name is required.</span><br>
						<span ng-show="addUserForm.email.$touched && addUserForm.email.$invalid">The email is required.</span><br>
						<span ng-show="addUserForm.password.$touched && addUserForm.password.$invalid">The password is required.</span>
					</div>
					<div class="form-group">
						<span ng-show="message">name exist.</span><br>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<span>Add language</span>
						<form class="form-inline" id="addLanguageForm" name="addLanguageForm" ng-submit="addLanguage()">
							<div class="form-group">
								<input class="form-control" name="title" ng-pattern="/[A-Z]{1}[a-z\s]*$/" ng-model="language.title" placeholder="language" required>
								<button type="submit" ng-disabled="addLanguageForm.title.$invalid || addLanguageForm.title.$error.pattern" class="btn btn-default">Add</button>
							</div>
						</form>
						<div class="form-group">
							<span ng-show="addLanguageForm.title.$touched && addLanguageForm.title.$invalid">The title is required.</span><br>
						</div>
					</div>
					<div class="col-md-6">
						<span>Add key</span>
						<form class="form-inline" id="addKeyForm" name="addKeyForm" ng-submit="addKey()">
							<div class="form-group">
								<input class="form-control" name="title" ng-model="key.title" placeholder="Key" required>
								<button type="submit" ng-disabled="addKeyForm.title.$invalid || addKeyForm.title.$error.pattern" class="btn btn-default">Add</button>
							</div>
						</form>
						<div class="form-group">
							<span ng-show="addKeyForm.title.$touched && addKeyForm.title.$invalid">The title is required.</span><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 scroll">
			<table class="table table-responsive">
				<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="user in users">
					<td>
						<input class="form-control" ng-model="user.name">
					</td>
					<td>
						<input class="form-control" ng-model="user.email">
					</td>
					<td ng-repeat-end>
						<button type="button" ng-click="updateUser(user.id)" class="btn btn-default">update</button>
					</td>
					<td>
						<button type="button" ng-click="deleteUser(user.id)" class="btn btn-default">delete</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 scroll">
			<table class="table table-responsive">
				<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="language in languages">
					<td>
						<input class="form-control" ng-model="language.name">
					</td>
					
					<td ng-repeat-end>
						<button type="button" ng-click="updateLanguage(language.name)" class="btn btn-default">update</button>
					</td>
					<td>
						<button type="button" ng-click="deleteLanguage(language.name)" class="btn btn-default">delete</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
