<!-- HEADER -->
<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav pull-right">
		<li><a ui-sref="backup">Backups</a></li>
		<li ng-show="{{ currentUser.role_id == 1 }}"><a ui-sref="home">Admin section</a></li>
		<li><a ui-sref="user">User section</a></li>
		<li><a ui-sref="logout">Logout</a></li>
	</ul>
</nav>
<div class="container-fluidt">
	<div class="row">
		<div class="col-md-6 col-sm-12 scroll">
			<table class="table table-responsive table-bordered">
				<thead>
				<tr>
					<th>Filename</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="backup in backups">
					<td>
						{{backup.name}}
					</td>
					
					<td ng-repeat-end>
						<a ng-href="{{ backup.path }}" class="btn btn-default">Download</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
