body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

td {
  text-align: center;
}

table input {
  padding: 0 5px 0 10px;
}

tbody .form-control {
  min-width: 100px;
}

textarea.form-control {
  min-width: 250px;
  min-height: 70px;
  font-size: 12px;
}

a {
  color: #00B7FF;
}

.navbar .nav{
  color: #9d9d9d;
  margin: 0px;
}

.refresh {
  color: #9d9d9d;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 15px;
}

.refresh:hover {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.pop-content {
  margin-top: 25px;
}

.pop-content > button {
  margin-bottom: 10px;
}

.my-paginator {
  display: flex;
  justify-content: center;
}

.scroll{
  overflow-x: auto;
}

.table-responsive{
  margin-top: 50px;
}

@media (max-width:767.98px) {
  .main-data-table tr td, .main-data-table tr th{
    display: none;
  }

  .main-data-table tr td:last-child, .main-data-table tr th:last-child{
    display: table-cell;
  }

  .col-sm-12{
    padding: 0px;
  }

  .ml15{
    margin-left: 15px;
  }
}

@media (min-width:768px) {
  .popover {
    min-width: 500px;
  } 
}

.mt30{
  margin-top: 30px;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}
